---
http_interactions:
- request:
    method: get
    uri: https://api.rach.io/1/public/person/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c3667b81-92a6-4913-b83c-64cc713cbc1e
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"61b28ce9-7bc1-47cc-9b85-98b6bebf8951"}'
  recorded_at: Tue, 10 May 2016 04:36:42 GMT
- request:
    method: get
    uri: https://api.rach.io/1/public/person/61b28ce9-7bc1-47cc-9b85-98b6bebf8951
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c3667b81-92a6-4913-b83c-64cc713cbc1e
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"61b28ce9-7bc1-47cc-9b85-98b6bebf8951","username":"rachiobeta","fullName":"Rachio
        Beta","email":"beta@rach.io","devices":[{"id":"c761bfa0-4c49-4b4f-8a79-04e42bea881a","status":"ONLINE","zones":[{"id":"ad9f83be-8a6c-47ad-af40-8300557c3355","zoneNumber":1,"name":"Zone
        1","enabled":true,"customNozzle":{"name":"Bubbler","imageUrl":"https://s3-us-west-2.amazonaws.com/rachio-api-icons/nozzle/bubbler.png","category":"BUBBLER","inchesPerHour":1.0},"customSoil":{"createDate":1441831272323,"lastUpdateDate":1441831272323,"id":"1f9240e5-ba87-4b88-b828-a5f456f399b7","name":"Loam","imageUrl":"https://s3-us-west-2.amazonaws.com/rachio-api-icons/soil/loam.png","category":"LOAM","infiltrationRate":0.35,"editable":false,"percentAvailableWater":0.7},"customSlope":{"name":"Flat","imageUrl":"https://s3-us-west-2.amazonaws.com/rachio-api-icons/slope/flat.png","variance":"ZERO_THREE","sortOrder":0},"customCrop":{"name":"Cool
        Season Grass","imageUrl":"https://s3-us-west-2.amazonaws.com/rachio-api-icons/crop/cool_season_grass.png","coefficient":0.7},"customShade":{"name":"Lots
        of sun","description":"6-8 hours of sun","imageUrl":"https://s3-us-west-2.amazonaws.com/rachio-api-icons/shade/lots_of_sun.png","exposure":1.0},"availableWater":0.17,"rootZoneDepth":6.0,"managementAllowedDepletion":0.5,"efficiency":0.9,"yardAreaSquareFeet":1000,"lastWateredDuration":62,"lastWateredDate":1462826276055,"scheduleDataModified":false,"fixedRuntime":0,"saturatedDepthOfWater":0.61,"depthOfWater":0.51,"maxRuntime":10800,"wateringAdjustmentRuntimes":{"1":2930,"2":2441,"3":1953,"4":1465,"5":977},"runtime":1953},{"id":"61197df9-d256-4959-8117-7625f919b2b3","zoneNumber":6,"name":"Zone
        6","enabled":true,"customNozzle":{"name":"Rotor Head","imageUrl":"https://s3-us-west-2.amazonaws.com/rachio-api-icons/nozzle/rotor_head.png","category":"ROTOR_HEAD","inchesPerHour":1.0},"customSoil":{"createDate":1441831272323,"lastUpdateDate":1441831272323,"id":"1f9240e5-ba87-4b88-b828-a5f456f399b7","name":"Loam","imageUrl":"https://s3-us-west-2.amazonaws.com/rachio-api-icons/soil/loam.png","category":"LOAM",[...]
[...]
